.App {
  height: 80vh;
  background-color: #aad7ee;
  text-align: center;
  font-family: "Cabin", sans-serif;
  color: rgb(82, 75, 75);
  margin: 0;
  padding: 0;
}

/* Nav bar */
nav {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  background-color: white;
  height: 80px;
  align-items: center;
  padding: 10px;
}

.logo-link {
  padding-left: 2vw;
}

.main-nav {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 15px;
  width: 60vw;
  color: rgb(82, 75, 75);
}

.main-nav button {
  /* display: block; */
  height: 55px;
  width: 120px;
  margin-top: 3vh;
  font-size: 20px;
  border-radius: 20px;
  border-width: medium;
  border-color: rgb(82, 75, 75);
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  padding: 10px;
  color: rgb(82, 75, 75);
}

.berlin {
  margin-right: 1vw;
}

.login-nav {
  display: flex;
  justify-content: space-evenly;
  padding-left: 4vw;
  width: 20vw;
}

.navilink a {
  /* This is a link */
  text-decoration: none;
  color: grey;
  font-size: 20px;
  font-weight: bold;
}

.navilink a:hover {
  color: grey;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  color: rgb(82, 75, 75) ey;
}

/* home */

.home-component {
  min-height: 60vh;
}
.logo_nb {
  height: 35vh;
}

.benefits {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-size: 20px;
  width: 100vw;
  text-align: inherit;
}
.benefits_a {
  width: 20vw;
  flex-wrap: wrap;
}

.benefits_b {
  width: 20vw;
  flex-wrap: wrap;
}

.home-component h1 {
  margin-top: 0;
  padding-top: 35px;
  font-size: 25px;
  flex-wrap: wrap;
}

/* Signup */
.signup-component {
  height: 60vh;
  padding-left: 19vw;
  padding-right: 19vw;
}

.signup-container {
  display: table-caption;
  padding-left: 22vw;
}

.signup-container input {
  width: 15vw;
  padding: 1vh;
  border-radius: 3px;
  border: 2px solid grey;
}

.signup-container button {
  height: 55px;
  width: 140px;
  margin-top: 3vh;
  background-color: #ffffff;
  color: rgb(82, 75, 75);
  font-size: 24px;
  border-radius: 7px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  padding: 10px;
}
/* Login */
.login {
  height: 60vh;
  padding-left: 19vw;
  padding-right: 19vw;
}

.login-form {
  display: table-caption;
  padding-left: 22vw;
  padding-bottom: 2vh;
}

.login-form label {
  padding-top: 2vh;
}

.login-form input {
  width: 15vw;
  padding: 1vh;
  border-radius: 3px;
  border: 2px solid #97ebdb;
}

.login-form button {
  height: 55px;
  width: 140px;
  margin-top: 3vh;
  background-color: #ffffff;
  color: grey;
  font-size: 24px;
  border-radius: 7px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  padding: 10px;
}
/* User Portal */
.portal-container {
  height: 60vh;
  padding-left: 19vw;
  padding-right: 19vw;
}

.portal-container button {
  height: 55px;
  width: 220px;
  margin-top: 3vh;
  background-color: #ffffff;
  color: grey;
  font-size: 18px;
  border-radius: 7px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  padding: 10px;
  margin: 5px;
}

/* /berlin/ */
.table-container {
  text-align: left;
  margin: 20px auto;
}

th {
  border: 2px solid #040759;
  width: 300px;
}

td {
  border: 2px solid #040759;
  width: 300px;
}

tbody {
  /* background-color: #6ba6da; */
  color: white;
  font-family: "Oswald", sans-serif;
}

theader {
  text-align: center;
  margin-top: 5px;
}
